<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">PackFlow</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
          <a class="nav-link" href="/logistics/customer_packages">Customer packages</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/logistics/carrier_packages">Carrier packages</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/logistics/package-list">Package list</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/logistics/package/create/">Create packages</a>
        </li>
        
      </ul>
    </div>
  </nav>